@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,700&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("assets/fonts/icons.woff2") format("woff2"), url("assets/fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("assets/fonts/icons.woff") format("woff"), url("assets/fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-boardgames:before {
  content: "\e905";
}

._icon-running:before {
  content: "\e906";
}

._icon-kitesurfing:before {
  content: "\e907";
}

._icon-diamond:before {
  content: "\e904";
}

._icon-envelope:before {
  content: "\e900";
}

._icon-telegram:before {
  content: "\e901";
}

._icon-location:before {
  content: "\e902";
}

._icon-discord:before {
  content: "\e903";
  color: #7289da;
}

._icon-phone:before {
  content: "\e942";
}

._icon-github:before {
  content: "\eab0";
}

/* ========================================================= */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Garamond";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Garamond";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ========================================================= */

body {
  font-size: 16px;
  color: #484848;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #06214c;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  border-left: solid 2px #041734;
  border-right: solid 2px #041734;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 250px;
  color: #fff;
  background-color: #041734;
  padding: 0px 50px 20px 20px !important;
}

.header__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 20px;
}

.header__image {
  border-radius: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  height: 250px;
  border: 7px solid #fff;
  overflow: hidden;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.header__image img {
  width: 100%;
  height: 100%;
}

.header__name {
  font-size: 50px;
  font: 50px;
  margin-bottom: 30px;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  align-self: left;
  line-height: 1.2;
}

.header__location {
  font-size: 18px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__location::before {
  font-size: 16px;
  margin-right: 10px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__item::before {
  font-size: 16px;
  margin-right: 10px;
  color: #fff;
}

.contacts__link {
  color: #fff;
  font-size: 16px;
  position: relative;
}

.contacts__link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  background-color: #031126;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  color: gray;
  color: #fff;
  position: relative;
}

.menu__link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.menu__list li:not(:last-child) {
  margin-right: 30px;
}
/* ================================================== */
.cv-page__container {
  background-color: #e0edf1;
}

.skill__item::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  width: 30px;
}

.skill__item_html::before {
  background: url("assets/img/skills/html.svg") 0 0 / contain no-repeat;
}

.skill__item_css::before {
  background: url("assets/img/skills/css.svg") 0 0 / contain no-repeat;
}

.skill__item_js::before {
  background: url("assets/img/skills/javascript.svg") 0 0 / cover no-repeat;
}

.skill__item_bem::before {
  background: url("assets/img/skills/bem.svg") 0 0 / contain no-repeat;
}

.skill__item_git::before {
  background: url("assets/img/skills/git.svg") 0 0 / contain no-repeat;
}

/* .skill__item_gulp::before {
  background: url("assets/img/skills/gulp.svg") 0 0 / contain no-repeat;
} */

.skill__item_avocode::before {
  background: url("assets/img/skills/avocode.svg") 0 0 / contain no-repeat;
}

.skill__item_figma::before {
  background: url("assets/img/skills/figma.svg") -2px 0 / contain no-repeat;
}

.skill__item_vs-code::before {
  background: url("assets/img/skills/vs_code.svg") -2px 0 / contain no-repeat;
}

.skill__item_ph::before {
  background: url("assets/img/skills/photoshop.svg") 0 0 / contain no-repeat;
}

.skill__item_il::before {
  background: url("assets/img/skills/illustrator.svg") 0 0 / contain no-repeat;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px 0;
}

.item-cv__header {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  font-size: 21px;
  font: 21px;
  text-transform: uppercase;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-weight: bold;
  padding-right: 20px;
}

.item-cv__header_summary {
  padding-top: 50px;
}

.item-cv__header_self {
  padding-top: 20px;
}

.item-cv__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  line-height: 1.2;
}

.item-cv__info_video {
  border-bottom: none;
}

.item-cv__info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.item-cv__info li::before {
  margin-right: 10px;
  font-size: 7px;
}

.item-cv__info li:nth-child(odd)::before {
  color: red;
}

.item-cv__info li:nth-child(even)::before {
  color: blue;
}

.item-cv__info_summary {
  padding-top: 50px;
}

.item-cv__info_works {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.item-cv__info_works li {
  margin-bottom: 15px;
}

.item-cv__info_works li:not(:last-child) {
  margin-right: 15px;
}

.item-cv__info_self {
  border-top: 1px solid #000;
  padding-top: 20px;
}

.item-cv__info_skills {
  text-transform: uppercase;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.item-cv__info_hobby {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.item-cv__info_hobby li {
  margin-right: 15px;
}

.item-cv__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.item-cv__box:not(:last-child) {
  padding-right: 20px;
}

.item-cv__box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-cv__box li img {
  width: 50px;
  height: 50px;
}

.item-cv__link {
  color: inherit;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-cv__link::before {
  font-size: 40px;
}

.item-cv__code {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
}

.item-cv__lang::before {
  content: "";
  height: 20px;
  width: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.item-cv__lang_ru::before {
  background: url("../img/langs/ru.svg") 0 0 / contain no-repeat;
}

.item-cv__lang_ua::before {
  background: url("../img/langs/ua.svg") 0 0 / contain no-repeat;
}

.item-cv__lang_us::before {
  background: url("../img/langs/us.svg") 0 0 / contain no-repeat;
}

.item-cv__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 15px;
  overflow: hidden;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__wrap {
  position: relative;
  height: 100%;
  padding-bottom: 20px;
}

.card__img {
  max-height: 160px;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 2px 5px #041734;
  box-shadow: 0 2px 5px #041734;
}

.card__img img {
  width: 100%;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  text-decoration: underline;
}

.card__descr {
  margin-bottom: 15px;
  line-height: 1.2;
}

.card__descr span {
  text-decoration: underline;
}

.card__skills {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card__skill {
  width: 40px;
  height: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.card__skill_html {
  background-color: red;
}

.card__skill_css {
  background-color: blue;
}

.card__skill_js {
  background-color: #ffc600;
}

.skill__item::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  width: 30px;
}
