@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,700&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("icons.woff") format("woff"), url("icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("icons.woff") format("woff"), url("icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-boardgames:before {
  content: "\e905";
}

._icon-running:before {
  content: "\e906";
}

._icon-kitesurfing:before {
  content: "\e907";
}

._icon-diamond:before {
  content: "\e904";
}

._icon-envelope:before {
  content: "\e900";
}

._icon-telegram:before {
  content: "\e901";
}

._icon-location:before {
  content: "\e902";
}

._icon-discord:before {
  content: "\e903";
  color: #7289da;
}

._icon-phone:before {
  content: "\e942";
}

._icon-github:before {
  content: "\eab0";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Garamond";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Garamond";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #e6e6e6;
  color: #484848;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 250px;
  background-color: #041734;
  color: #fff;
  border: 7px solid #fff;
  padding: 20px 10px !important;
}

.header__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
}

.header__image {
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  height: 220px;
  border: 7px solid #fff;
  overflow: hidden;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.header__image img {
  width: 100%;
  height: 100%;
}

.header__name {
  font-size: 50px;
  font-size: 50px;
  margin-bottom: 30px;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  line-height: 1.2;
}

.header__location {
  font-size: 18px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__location::before {
  font-size: 16px;
  margin-right: 10px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__item::before {
  font-size: 16px;
  margin-right: 10px;
  color: #fff;
}

.contacts__link {
  color: #fff;
  font-size: 16px;
  position: relative;
}

.contacts__link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__content {
  background-color: #041734;
  min-height: 100px;
  border: 7px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  height: 50px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-transition: all .3s ease 0;
  -o-transition: all .3s ease 0;
  transition: all .3s ease 0;
}

.footer__item img {
  width: 100%;
}

.footer__item:hover {
  background-color: #777;
}

.footer__item_github {
  width: 50px;
  border-radius: 50%;
}

.footer__item_school {
  width: 150px;
  border-radius: 2px;
  padding: 3px;
}

.footer__item_school img {
  height: 100%;
}

.footer__year {
  font-weight: bold;
  font-size: 20px;
}

.cv-page__container {
  background-color: #fff;
  padding: 30px 0 13px;
}

.item-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-cv__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  font-size: 21px;
  font-size: 21px;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
  padding-right: 20px;
}

.item-cv__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  line-height: 1.2;
}

.item-cv__info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-cv__info li::before {
  margin-right: 10px;
  font-size: 7px;
  margin-top: 5px;
}

.item-cv__info_works {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5px;
}

.item-cv__info_works li {
  margin-bottom: 15px;
}

.item-cv__info_works li:not(:last-child) {
  margin-right: 15px;
}

.item-cv__info_skills {
  text-transform: uppercase;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-cv__info_hobby {
  border-bottom: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-cv__info_hobby li {
  margin-right: 15px;
}

.item-cv__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.item-cv__box:not(:last-child) {
  padding-right: 20px;
}

.item-cv__link {
  color: inherit;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-cv__link::before {
  font-size: 40px;
}

.cv-page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 991.98px) {
  .contacts__link:hover::after {
    content: "";
    width: 100%;
  }

  .item-cv__link:hover {
    color: #fff;
    -webkit-box-shadow: inset 2px 2px 2px #fff, inset -2px -2px 2px #fff;
            box-shadow: inset 2px 2px 2px #fff, inset -2px -2px 2px #fff;
    background-color: #041734;
  }

  .item-cv__link:active {
    background-color: #0b4193;
  }
}

@media (max-width: 1170px) {
  .header__name {
    font-size: calc(30px + 20 * ((100vw - 320px) / 850));
  }

  .item-cv__header {
    font-size: calc(16px + 5 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  .header__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__wrapper {
    border: 5px solid #fff;
  }

  .header__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .header__image {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    border: 3px solid #fff;
    height: 150px;
    border-radius: 0%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__content {
    border: 5px solid #fff;
  }

  .item-cv {
    padding: 20px 0 0;
  }
}

@media (max-width: 479.98px) {
  .footer__content {
    min-height: 70px;
  }

  .item-cv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid #000;
  }

  .item-cv:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .item-cv__header {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .item-cv__info {
    border-bottom: none;
  }

  .item-cv__info_skills {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 380px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border: 3px solid #fff;
  }

  .header__content {
    padding-right: 0;
  }

  .header__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
  }

  .contacts__item {
    margin-right: 0;
  }

  .footer__content {
    border: 3px solid #fff;
  }
}